Welcome to the {{ product_name }} virtual appliance.

The IP address of {{ if_name }} is: {{ ip_addr }}

Go to {{scheme}}://{{hostname}}:{{port}}/props to verify the application is configured correctly.

To administer this appliance using Cockpit go to {{c_scheme}}://{{hostname}}:9090 and login.
